<html>
<head>
    <meta charset="utf=8">
    <link rel="stylesheet" href="styles.css">
    <title>EZ games</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <nav>
        <ul>
            <th><a href="/">Home</a></th>
            <th><a href="customers">Customers</a></th>
            <th><a href="orders">Orders</a></th>
            <th><a href="items">Order Items</a></th>
            <th><a href="sellers">Sellers</a></th>
        </ul>
    </nav>
    <h1>EZ games customers</h1>
    <table>
        <tr>
            <th>Customer ID </th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip code</th>
        </tr>
        {{#each customers}}
        <tr>
            <td>{{customer_id}}</td>
            <td>{{first_name}} {{lastName}}</td>
            <td>{{last_name}}</td>
            <td>{{phone}}</td>
            <td>{{email}} {{lastName}}</td>
            <td>{{street}}</td>
            <td>{{city}}</td>
            <td>{{state}} {{lastName}}</td>
            <td>{{zip_code}}</td>
	    <form  id="deleteCustomer" action="/deleteCustomer/{{customer_id}}" method="post">
            <td><button type="submit">Delete</button></td>       
            </form>
        </tr>
        {{/each}}
    </table>
    <h3>Add Customer:</h3>
    <form id="addcustomer" action="/customers" method="post">
        <fieldset>
            <label for="first_name">Customer first name</label>
            <br />
            <input type="text" name="first_name" id="first_name" maxlength="15" required>
            <br />
            <label for="last_name">Customer last name</label>
            <br />
            <input type="text" name="last_name" id="last_name" maxlength="20" required>
            <br />
            <label for="phone">Phone number</label>
            <br />
            <input type="phone" name="phone" id="phone" maxlength="40">
            <br />
            <label for="email">Email</label>
            <br />
            <input type="text" name="email" id="email" maxlength="15" required>
            <br />
            <label for="street">Street</label>
            <br />
            <input type="street" name="street" id="street" maxlength="15" required>
            <br />
            <label for="city">City</label>
            <br />
            <input type="city" name="city" id="city" maxlength="15" required>
            <br />
            <label for="state">State</label>
            <br />
            <input type="state" name="state" id="state" maxlength="15" required>
            <br />
            <label for="zip_code">Zip code</label>
            <br />
            <input type="zip_code" name="zip_code" id="zip_code" maxlength="15" required>

        </fieldset>
        <br />
        <button type="submit">Add Customer</button>
    </form>




    <h2>Update customer information:</h2>
    <form id="updateCustomer" action="/updateCustomer" method="post">
        <fieldset>
            <label for="customer_id">Customer ID</label>
            <br />
            <select id="customer_id" name="customer_id">
            <option>Choose customer ID</option>
            {{#each customers}}
            <option>{{customer_id}}</option>
            {{/each}}
            </select>
            <br />
            <label for="first_name">Customer first name</label>
            <br />
            <input type="text" name="first_name" id="first_name" maxlength="15" required>
            <br />
            <label for="last_name">Customer last name</label>
            <br />
            <input type="text" name="last_name" id="last_name" maxlength="20" required>
            <br />
            <label for="phone">Phone number</label>
            <br />
            <input type="phone" name="phone" id="phone" maxlength="40">
            <br />
            <label for="email">Email</label>
            <br />
            <input type="text" name="email" id="email" maxlength="15" required>
            <br />
            <label for="street">Street</label>
            <br />
            <input type="street" name="street" id="street" maxlength="15" required>
            <br />
            <label for="city">City</label>
            <br />
            <input type="city" name="city" id="city" maxlength="15" required>
            <br />
            <label for="state">State</label>
            <br />
            <input type="state" name="state" id="state" maxlength="15" required>
            <br />
            <label for="zip_code">Zip code</label>
            <br />
            <input type="zip_code" name="zip_code" id="zip_code" maxlength="15" required>
            <br />
            <br />
            <button type="submit">Update customer</button>
        </fieldset>        
    </form>




</body>
</html>